VITE_SITE_NAME="HomePage"
VITE_SITE_AUTHOR=""
VITE_SITE_KEYWORDS=""
VITE_SITE_ICP=""
VITE_GITHUB_USERNAME=""
VITE_SOCIAL_EMAIL=""
VITE_SOCIAL_TWITTER=""
VITE_SOCIAL_TELEGRAM=""
VITE_SOCIAL_QQ=""
VITE_SOCIAL_BILIBILI=""
VITE_GITHUB_API=""
VITE_SITE_LOGO="/images/icon/favicon.ico"
VITE_SITE_MAIN_LOGO="/images/icon/logo.png"
VITE_SITE_APPLE_LOGO="/images/icon/apple-touch-icon.png"
